.scene-container {
  /* display: flex;
  flex-flow: row wrap; */
}

.scene-controls {
  /* width: 300px; */
  /* height: 300px; */
  margin: 1em;
  color: white;
  /* background: lightblue; */
}

.scene-view {
  width: 800px;
  height: 600px;
}